
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf6fe;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-container {
  width: 1000px;
  border-radius: 20px;
  background-color: #f0fdfa;
  padding-block: 50px;
  box-shadow: 4px 4px 15px rgb(0 0 0 / 10%);
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

header {
  margin-bottom: 40px;
  font-family: 'Fira Sans', sans-serif;
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 30px;
  border-bottom: 1px solid #dae3fc;
  color: #292524;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
}

p {
  padding: 0 30px 15px 30px;
  text-align: justify;
  color: #0a0a0a;
  font-weight: 300;
  font-size: 14px;
}

.question-container:hover {
  background-color: #e0f2fe;
  border-radius: 8px;
}

section.open > .question-container {
  border: none;
}

section.open {
  border-bottom: 1px solid #fecdd3;
}

h1 {
  color: #1c1917;
  text-align: center;
}

.question-mark {
  color: #a9d4ff;
}

section {
  border-left: 4px solid #a9d4ff;
  border-radius: 5px;
  margin-block: 10px;
  width: 600px;
}

img {
  width: 250px;
  height: auto;
  /* flex-grow: 3; */
}
